* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    line-height: 1.5;
    background-color: #BFECFF;
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
    color: white;
    margin-bottom: 1rem;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    background-color: #CDC1FF;
}


.container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    background: #8D8DAA;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    text-align: center;
}

label {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    color: white;
}

input,textarea {
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem 0 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: monospace;
    font-size: 1.2rem;
}

textarea {
    height: 150px;
    resize: none;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.entryresultrow {
    margin-top: 2rem;
    font-size: x-large;
}


